:root{
    
    /* --skin-color-red:rgb(199, 13, 69); */

    --bg-black-900:#fdfdfd;
    --bg-black-100:#fafafa;
    --bg-black-50:#f0f0f0;
    --border-light:#e0e0e0;
    --border-medium:#c0c0c0;
    --border-dark:#b0b0b0;
    --text-black-900:#003157;
    --text-black-700:#003f6e;
    --skin-color-red:#237db9;
}
